.navigation {
  background: red;
  width: 100%;
  height: 100px;
}

.nav-sticky {
  background-color: #333333;
  top: 0;
  left: 0;
  position: sticky;
  margin-bottom: 100px;
}
.nav-sticky ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-sticky ul li {
  padding: 10px;
  list-style: none;
  margin-left: 10px;
}
.nav-sticky ul li a {
  color: white;
}

.title-wrap {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
}
p * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p a {
  text-decoration: none;
}
p p {
  font-weight: 300;
}
p .btn {
  background-color: rgba(36, 41, 39, 0.644);
  color: white;
  margin: 10px 0;
  padding: 5px 15px;
  display: inline-block;
  transition: 0.3s;
}
p .btn:hover {
  background-color: #d4d102;
  color: #333;
  transform: scale(1.2);
}
p .cover {
  background-color: #333;
  align-items: center;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}
p .content {
  background-color: rgba(21, 27, 25, 0.712);
  color: white;
  text-align: center;
}
p .info {
  background-color: #141419;
  color: white;
  padding: 20px;
}
p .info h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
p .infoContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
p .infoContent .block {
  background-color: rgba(148, 23, 23, 0.63);
  width: 100%;
  padding: 10px;
}
p .infoContent .block-last {
  margin-top: 15px;
}
p .infoContent .block h3 {
  font-size: 20px;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}
p .infoContent .block p {
  font-size: 13px;
}
p .infoContent .block .iconSocial {
  font-size: 70px;
}
p i {
  color: white;
}
@media all and (min-width: 769px) {
  p h1 {
    font-size: 60px !important;
  }
  p .infoContent .block {
    width: 30%;
  }
}

.btn {
  background-color: rgba(36, 41, 39, 0.644);
  color: white;
  margin: 10px 0;
  padding: 5px 15px;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d4d102;
  color: #333;
  transform: scale(1.2);
}

.cover {
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(21, 27, 25, 0.712);
  color: white;
  text-align: center;
}

.btn-nav {
  animation: float 1.5s ease-out infinite;
  color: white;
  font-size: 50px !important;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
.info {
  background-color: #141419;
  color: white;
  padding: 20px;
}

.info h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.infoContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.infoContent .block {
  background-color: rgba(148, 23, 23, 0.63);
  width: 100%;
  padding: 10px;
}

.infoContent .block-last {
  margin-top: 15px;
}

.infoContent .block h3 {
  font-size: 20px;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}

.infoContent .block p {
  font-size: 13px;
}

.infoContent .block .iconSocial {
  font-size: 70px;
}

i {
  color: white;
}

@media all and (min-width: 769px) {
  h1 {
    font-size: 60px !important;
  }

  .infoContent .block {
    width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
