footer {
  width: 100%;
  background-color: #333;
  color: white;
  height: 5vh;
}

.navigation {
  background: salmon;
  width: 100%;
  height: auto;
}
.navigation ul {
  display: flex;
  justify-content: center;
}
.navigation ul li {
  align-items: center;
  list-style: none;
}
.navigation ul li a {
  color: white;
}

.nav-sticky {
  background-color: #333333;
  top: 0;
  left: 0;
  position: sticky;
  margin-bottom: 100px;
}
.nav-sticky ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-sticky ul li {
  padding: 10px;
  list-style: none;
  margin-left: 10px;
}
.nav-sticky ul li a {
  color: white;
}

.nav-sticky-footer {
  background-color: #333333;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  position: sticky;
}
.nav-sticky-footer ul {
  display: flex;
  flex-direction: column;
}
.nav-sticky-footer ul li {
  background-color: red;
  width: 100%;
  margin: 40px 0;
  list-style: none;
  text-align: center;
}
.nav-sticky-footer ul li a {
  color: white;
}

.title-wrap {
  color: red;
}

.btn:hover {
  background-color: #d4d102;
  color: #333;
  transform: scale(1.2);
}

.cover {
  background-color: #333;
  align-items: center;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(21, 27, 25, 0.712);
  color: white;
  text-align: center;
}

.btn-nav {
  animation: float 1.5s ease-out infinite;
  color: white;
  font-size: 50px !important;
}

.btn {
  background-color: rgba(36, 41, 39, 0.644);
  color: white;
  margin: 10px 0;
  padding: 5px 15px;
  display: inline-block;
  transition: 0.3s;
}

.info {
  background-color: #151914;
  color: white;
  padding: 0 20px;
}
.info h2 {
  font-size: 100px;
  margin: 0;
  text-align: center;
}
.info .infoContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.info .infoContent .block {
  background-color: rgba(148, 23, 23, 0.63);
  width: 20%;
  padding: 10px;
  margin: 10px 0;
}
.info .infoContent .block .iconSocial {
  font-size: 70px;
}
.info .infoContent .block h3 {
  font-size: 20px;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}
.info .infoContent .block p {
  font-size: 13px;
}
.info i {
  color: white;
}

.details {
  width: 100%;
  display: flex;
}
.details .detailsContent {
  background-color: aliceblue;
  padding: 10px;
  width: 80%;
  margin: auto;
}
.details .detailsContent .block-conversed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.details .detailsContent .block-conversed article {
  background: rgba(53, 174, 255, 0.589);
  width: 80%;
  margin: 10px;
  text-align: center;
}
.details .detailsContent .block-conversed article code {
  background: black;
  color: white;
  padding: 2px 7px;
}
.details .detailsContent .block-links {
  display: flex;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
}

/*# sourceMappingURL=main.css.map */
