.navigation {
    background: salmon;
    width: 100%;
    height: auto;
    ul {
        display: flex;
        justify-content: right;
        li {
            align-items: center;
            list-style: none;
            a {
                color: white;
            }
        }
    }
}


// Navbar-sticky

.nav-sticky {
    // background: #8b5555;
    background-color: #333333;
    top: 0;
    left: 0;
    position: sticky;
    margin-bottom: 50px;
    ul {
        display: flex;
        justify-content: space-evenly;
        li {
            padding: 10px ;
            list-style: none;
            margin-left: 10px;
            border-bottom: 1px solid yellow;

            a {
                color: white;
            }
        }
    }
}

.nav-sticky-footer {
    background-color: #333333;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    position: sticky;
    ul {
        display: flex;
        flex-direction: column;
        li {
            background-color: red;
            width: 100%;
            margin: 40px 0;
            list-style: none;
            text-align: center;
            a {
                color: white;
            }
        }
    }
}