.details {
    width: 100%;
    display: flex;

    .detailsContent {
        background-color: aliceblue;
        padding: 10px;
        width: 80%;
        margin: auto;

        .block-conversed {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            article {
                background: rgba(53, 174, 255, 0.589);
                width: 80%;
                margin: 10px;
                padding: 0 10px;
                text-align: center;
                code {
                    background: black;
                    color: white;
                    padding: 2px 7px; 
                }
            }
        }

        .block-links {
            display: flex;
            justify-content: space-around;
        }

    }
}